.git
__pycache__/
**/__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.vscode/

logs/
logs_puck_dynamics/
logs_hockey/
logs_hockey_active_goal/
logs_goal_push/
CircEnv/logs/
CircEnv/logs_puck_dynamics/
CircEnv/logs_hockey/
CircEnv/logs_hockey_active_goal/
CircEnv/logs_goal_push/
*.tfevents.*

models/**
CircEnv/models/**
!models/
!models/TQC02/
!models/TQC02/280000.zip
!CircEnv/models/
!CircEnv/models/TQC02/
!CircEnv/models/TQC02/280000.zip
!CircEnv/models/TQC_hockey_active_goal/
!CircEnv/models/TQC_hockey_active_goal/best.zip
!CircEnv/models/TQC_hockey_active_goal/best_rewards.csv

TemplateCircEnvForLinux/
template/
templates/
